<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator/>
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
	<springProperty scope="context" name="appname" source="logback.appname"/>

    <!-- <appender name="LOGSTASH"
        class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>172.16.0.60:9601</destination>
        encoder必须配置,有多种可选
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"appname":"pbplatform-example"}</customFields>
        </encoder>
    </appender> -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	   <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${appname} [%thread] %-5level %logger{50}.%M - %msg%n</pattern>
        </encoder> 
	</appender>  
	
	<appender name="TIME_FILE" 
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            	<maxFileSize>10MB</maxFileSize>
        	</timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${appname} [%thread] %-5level %logger{50}.%M - %msg%n</pattern>
        </encoder>
    </appender>
	
    <root level="INFO">
        <appender-ref ref="TIME_FILE" />
        <!-- <appender-ref ref="LOGSTASH" /> -->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>